/* html {
	text-align: center;
	background-color: darkgray;
}  */


body{ 
	/* margin: auto; */
	height: 100%;
}

.mesaj{
	display: none;
}

.formular_cos{
	visibility: visible;
}

.cantitate{
	width: 80px;
	height: 24px;
	text-align: center;
}

#container{
	font-family: Arial, 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
	font-weight: bold;
	/* height: 100%; */
	margin: auto;
	background-color: #ffffff;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 1%;
} 

#loader {
	position: absolute;
	left: 50%;
	top: 50%;	
}

.tobe_detaliu{
	/* flex-wrap: wrap; */
	text-align: center;
	/* margin-top: 1%; */
	
}	

.detalii{
	text-align: center;
}

.nume_detaliu{
	font-size:25px;		
	color: rgba(163, 19, 19, 0.9);
	margin-bottom: 40px;
}

.info{
	align-content: center;
}

.pret_moneda{
	text-align: center;
}

.pret_detaliu{
	display: inline-block;
	width: 50px;
	color: rgba(8, 16, 87);
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.moneda_detaliu{
	margin-right: 10px;
	color: rgba(8, 16, 87);
	font-weight: bold;
	margin: auto;
}

.imagine_detaliu{
	border:  1px solid rgb(255, 255, 255, 0.0);
	max-width: 30%;
	margin: auto;
	}

.imagine_detaliu:hover{
	transform: scale(1.7);
	transition: transform .3s ease-in-out;
	/* border: 1px solid rgba(187, 12, 12, 0.55); */
	border-radius: 10px;
}	

.stoc_info{
	display: inline;
}

.descriere{
	margin-top: 10px;
	text-align: justify;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}